/*british palette
mazarine blue #273c75
gold #e1b12c
*/

/*---BASIC SETUP---*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body.body-style {
    color: #404040;
    font-family: 'Ubuntu', 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    overflow-x: hidden;
    background: #fff;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    color: #273c75;
}


.main-title {
    text-align: center;
    color: #f4f4f4;
    margin-bottom: 10px;
    font-size: 200%;
    margin-top: 20%;
    font-family: 'Lato';
}



h2 {
    font-size: 140%;
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px;
}


.title {
    margin-bottom: 5%;
}


.title:after {
    display: block;
    height: 2px;
    background-color: #273c75;
    content: "  ";
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;

}

section {
    padding: 1em 0;
}

h3 {
    font-size: 120%;
    font-weight: 300;
}

h4 {
    font-size: 100%;
    font-weight: 300;
    letter-spacing: 1px;
}



/*---HEADER----*/

.navbar {
    border: 1px solid transparent;
}

.navbar-default .navbar-brand {
    color: #e1b12c;
}

.navbar-default .navbar-brand:hover {
    color: #fff;
}

.navbar-custom {
    background-color: rgba(39, 60, 117, 0.78);
    color: #FEF8E6;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default:focus,
.navbar-default:hover {
    background-color: rgba(39, 60, 117, 0.96);
    transition: background-color 0.4s;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #f4f4f4;
    font-size: 200%;
}


.navbar-default .navbar-nav > li > a {
    color: #f4f4f4;
}

.navbar-default .navbar-nav > li > a:link {
    color: #f4f4f4;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #e1b12c;
}

/*-----BUTTONS----*/

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 20px;
    font-weight: 300;
    text-decoration: none;
    border: 1px solid #e1b12c;
    border-radius: 200px;
    color: #2f3640;
    font-size: 80%;
    background-color: #e1b12c;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
    

}

.btn:hover,
.btn:active {
    background-color: transparent;
    transition: transform 0.6s;
    color: #f4f4f4;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e1b12c;
    background-color: #e1b12c;
    color: #2f3640;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid transparent;
    transition: transform 0.5s;
    background-color: transparent;

}




/*----SECTION 1: HOME------*/

.section-main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/sandy-zebua-581616-unsplash.jpg);
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
    margin-bottom: auto;
    background-position: center;
    height: 100vh;
}

.sub-main-title {
    font-size: 100%;
    color: #f4f4f4;
    font-family: 'Lato';
    font-style: italic;
    text-transform: none;
    margin-bottom: 10%;
    margin-top: 2px;
    letter-spacing: 5px;
}

.branch-item {
    position: relative;
    text-align: center;
    margin-bottom: 1em;
}



/*----SECTION 2: TESTIMONY------*/

.section-testimony {
    background-color: #f4f4f4;
    color: #555;
}

.testimony-items {
    margin-left: 1.5em;
    font-size: 90%;
    padding: 2%;

}

blockquote {
    font-style: italic;
    line-height: 145%;
    position: relative;
    padding: 2em 10px;
}

blockquote:before {
    /*---
    display: block;
    content: "\201C";
    font-size: 250%;
    position: absolute;
    top: 5px;
    left: -5px;
    --*/
    color: #273c75;
    font-size: 270%;
    line-height: 0.5em;
    margin-right: 0.27em;
    content: "\201C";
    float: left;
    margin-top: 2px;

}


.testimony-items blockquote {
    margin-bottom: 3px;
    border-left: none;
}


cite {
    margin: 0 0 20px 25px;
}

/*--SECTION IMAGES----*/

.section-images {
    /* Prevent vertical gaps */
    line-height: 0;
    -webkit-column-count: 2;
    -webkit-column-gap: 0px;
    -moz-column-count: 2;
    -moz-column-gap: 0px;
    column-count: 2;
    column-gap: 0px;
    padding: 0;
}

.section-images img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
    position: fixed;
    top: -100%;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    overflow: hidden;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 0%;
    max-width: 0%;
    border: 3px solid white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
    box-sizing: border-box;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
    display: block;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    background: white;
    color: black;
    text-decoration: none;
    position: absolute;
    top: -80px;
    right: 0;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top: 10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top: 10px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0;
}

.lightbox-target:target img {
    max-height: 100%;
    max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
    top: 55px;
}

.lightbox-target .right {
  width: 100%;
}

.lightbox-target:target  .right {
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0;
}



/*----SECTION 3: RULES------*/

.section-rules {
    color: #555;
    background-color: #bed2e4;
}

.rules-time {
    margin-top: 2em;
    margin-left: 1em;
    background-color: #e2ebf3;
    margin-right: 1em;
    padding: 2px;
    margin-bottom: 2%;
}

.rules-time li {
    margin: 1em 0.5em 1em 0;
    font-size: 90%;

}

.rules-item {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 90%;
    list-style: none;
    counter-reset: li;
    padding: 20px;
    background-color: #e2ebf3;
}

.rules-item h4 {
    text-transform: uppercase;
    text-align: center;
}

.rules-item li {
    margin-left: 1em;
    padding: 2px;
    margin-bottom: 8px;
    counter-increment: li;
}



.rules-item li:before {
    content: counter(li);
    font-size: 100%;
    font-weight: 300;
    color: #273c75;
    display: inline-block;
    width: 1em;
    margin-left: -1.5em;
    margin-right: 0.5em;
    text-align: right;
    direction: rtl;
}




/*----SECTION 4: Contact(Footer)------*/

footer {
    background-image: linear-gradient(rgba(39, 60, 117, 0.9), rgba(39, 60, 117, 0.63)), url(img/annie-spratt-362691-unsplash.jpg);
    color: #f4f4f4;
    padding: 5px 0;
    font-size: 90%;
    background-size: cover;
}

.footer-title {
    color: #e1b12c;
    text-transform: uppercase;

}

footer .sub-title {
    text-align: center;
    width: 100%;
    color: #f4f4f4;
}

.contact-item {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 10px;
    line-height: 150%;
}

.contact-item .fa-ul {
    margin-left: 2em;
}

.contact-item h3 {
    margin-left: 0.3em;
    color: #e1b12c;
}

.contact-item i {
    font-size: 120%;
    color: #e1b12c;
}


/*----------CITRO HOMESTAY SOLO-----------*/

/*SECTION FASILITAS*/

.section-main-solo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/citrohomestay-cover.jpg);
    background-size: cover;
}

.section-fasilitas {
    background: #f4f4f4;
    padding: 5%;
    text-align: center;
    font-size: 90%;
}

.section-fasilitas i {
    margin-bottom: 10%;
    font-size: 275%;
    color: #273c75;
}

.section-fasilitas p {
    text-align: center;
    margin-bottom: 2px;
}

.fasilitas-item {
    margin-bottom: 5%;
    border-bottom: 2px solid #e1b12c;
    padding: 30px 10px;
}

.fasilitas-last {
    margin-top: 2.5em;
    margin-bottom: 5%;
    border-bottom: none;
}

/*SECTION SEKITAR*/

.section-sekitar {
    font-size: 90%;
    padding: 5%;
    color: #333131;
    background-color: #e5bc4a;
}


.section-sekitar ul {
    margin-bottom: 10%;
}

.sekitar-item i {
    font-size: 120%;
    color: #273c75;
}

/*SECTION HARGA*/

.section-harga {
    background: #d6e2ee;
    font-size: 90%;
}

.section-harga h4 {
    color: #f5f5f5;
}

.harga-item {
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 2px 2px #2f5374;
}

.harga-item div {
    padding: 15px;
    border-bottom: solid 1px #2f5374;
}

.harga-item div:first-child {
    background-color: #487eb0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #f5f5f5;
}

.harga-item div:last-child {
    border-bottom: none;
    font-size: 90%;
    background-color: #e2ebf3;
}


.asterisk {
    vertical-align: super;
    color: #fbc531;
    font-size: 70%;
    margin: 0 2px;
}

.asterisk-two {
    color: #cf6d17;
}

.harga-number {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 200%;
    color: #fbc531;
    margin-bottom: 10px;
}

.price {
    font-family: 'Lato';
    font-weight: 200;
    font-size: 120%;
    color: #cf6d17;
}

.harga-item i {
    font-size: 100%;
    color: #e1b12c;
}

.harga-item ul {
    list-style: none;
    margin-left: 1.5em;
}


/*----------CITRO HOMESTAY SBY-----------*/

.section-main-sby {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/citrohomestay-cover.jpg);
    background-size: cover;
}
