/*british palette
mazarine blue #273c75
gold #e1b12c
*/

/*---BASIC SETUP---*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body.body-style {
    color: #404040;
    font-family: 'Ubuntu', 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    overflow-x: hidden;
    background: #fff;
}

/*to make the div in the middle of the page when screen size gets big*/
.container {
    width: 100%;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    color: #273c75;
    font-weight: 300;
}


.main-title {
    text-align: center;
    color: #f4f4f4;
    margin-bottom: 10px;
    font-size: 200%;
    margin-top: 20%;
    font-family: 'Lato';
    font-weight: 300;
}



h2 {
    font-size: 140%;
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px;
}


.title {
    margin-bottom: 5%;
}


.title:after {
    display: block;
    height: 2px;
    background-color: #273c75;
    content: "  ";
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;

}

section {
    padding: 1em 0;
}

h3 {
    font-size: 120%;
    font-weight: 300;
}

h4 {
    font-size: 100%;
    font-weight: 300;
    letter-spacing: 1px;
}



/*---HEADER----*/

.navbar {
    border: 1px solid transparent;
}

.navbar-default .navbar-brand {
    color: #e1b12c;
}

.navbar-default .navbar-brand:link,
.navbar-default .navbar-brand:visited {
    color: #e1b12c;
}

.navbar-default .navbar-brand:hover {
    color: #fff;
}

.navbar-custom {
    background-color: rgba(39, 60, 117, 0.78);
    color: #FEF8E6;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default:focus,
.navbar-default:hover {
    background-color: rgba(39, 60, 117, 0.96);
    transition: background-color 0.4s;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #f4f4f4;
    font-size: 200%;
}


.navbar-default .navbar-nav > li > a {
    color: #f4f4f4;
}

.navbar-default .navbar-nav > li > a:link {
    color: #f4f4f4;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #e1b12c;
}

/*-----BUTTONS----*/

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 20px;
    font-weight: 400;
    text-decoration: none;
    border: 1px solid #e1b12c;
    border-radius: 200px;
    color: #2f3640;
    font-size: 80%;
    background-color: #e1b12c;
    transition: background-color 0.3s, border 0.3s, color 0.3s;


}

.btn:hover,
.btn:active {
    background-color: transparent;
    transition: transform 0.6s;
    color: #f4f4f4;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e1b12c;
    background-color: #e1b12c;
    color: #2f3640;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid transparent;
    transition: transform 0.5s;
    background-color: transparent;

}




/*----SECTION 1: HOME------*/

.section-main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/sandy-zebua-581616-unsplash-copy.jpg);
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
    margin-bottom: auto;
    background-position: center;
    height: 100vh;
}

.sub-main-title {
    font-size: 100%;
    color: #f4f4f4;
    font-family: 'Lato';
    font-style: italic;
    text-transform: none;
    margin-bottom: 10%;
    margin-top: 2px;
    letter-spacing: 8px;
}

.branch-item {
    position: relative;
    text-align: center;
    margin-bottom: 1em;
}

.hero-buttons {
    margin-top: 80px;
}

/*----SECTION 2: TESTIMONY------*/

.section-testimony {
    background-color: #f4f4f4;
    color: #555;
}

.testimony-items {
    margin-left: 1em;
    font-size: 100%;
    padding: 2%;

}

blockquote {
    font-style: italic;
    line-height: 145%;
    position: relative;
    padding: 2em 10px;
}

blockquote:before {
    /*---
    display: block;
    content: "\201C";
    font-size: 250%;
    position: absolute;
    top: 5px;
    left: -5px;
    --*/
    color: #273c75;
    font-size: 270%;
    line-height: 0.5em;
    margin-right: 0.27em;
    content: "\201C";
    float: left;
    margin-top: 2px;

}


.testimony-items blockquote {
    margin-bottom: 3px;
    border-left: none;
}


cite {
    margin: 0 0 20px 25px;
}

/*--SECTION IMAGES----*/

.section-images {
    /* Prevent vertical gaps */
    line-height: 0;
    -webkit-column-count: 2;
    -webkit-column-gap: 0px;
    -moz-column-count: 2;
    -moz-column-gap: 0px;
    column-count: 2;
    column-gap: 0px;
    padding: 0;
}

.section-images img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
}

.section-images .row > .column {
  padding: 0 8px;
}

.section-images .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.section-images .column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




/*----SECTION 3: RULES------*/

.section-rules {
    color: #555;
    background-color: #bed2e4;
}

.rules-time {
    margin-top: 2em;
    margin-left: 0.5em;
    background-color: #e2ebf3;
    margin-right: 0.5em;
    padding: 2px;
    margin-bottom: 2%;
}

.rules-time li {
    margin: 1em 0.5em 0.5em 0;
    font-size: 90%;

}

.rules-item {
    margin-top: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 95%;
    list-style: none;
    counter-reset: li;
    padding: 20px;
    background-color: #e2ebf3;
}

.rules-item h4 {
    text-transform: uppercase;
    text-align: center;
}

.rules-item li {
    margin-left: 0.5em;
    padding: 2px;
    margin-bottom: 8px;
    counter-increment: li;
}



.rules-item li:before {
    content: counter(li);
    font-size: 100%;
    font-weight: 300;
    color: #273c75;
    display: inline-block;
    width: 1em;
    margin-left: -1.5em;
    margin-right: 0.5em;
    text-align: right;
    direction: rtl;
}




/*----------CITRO HOMESTAY SOLO-----------*/



.section-main-solo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/citrohomestay-cover.jpg);
    background-size: cover;
}


/*SECTION FASILITAS*/


.section-fasilitas {
    padding: 5%;
    background: #f4f4f4;
    font-size: 80%;
}

.section-fasilitas .row .col-xs-12 {
    padding-right: 0;
}

.section-fasilitas i {
    font-size: 250%;
    color: #273c75;
    text-align: left;
}

.section-fasilitas p {
    text-align: left;
}


.fasilitas-item {
 padding: 5% 2%;
    margin-left: 0.5em;
    margin-bottom: 20px;
}

.background-white{
    background-color: #fff;
    margin-bottom: 20px;
    vertical-align: middle;
}

.inline-block-center {
    text-align: center;
}

inline-block-center div {
    display: inline-block;
    text-align: left;
}




/*SECTION SEKITAR*/

.section-sekitar {
    font-size: 100%;
    padding: 5%;
    color: #555;

}

.fa-ul.address {
    margin-left: 1.5em;
    margin-bottom: 2px;
}

.address-description {
    color: #867979;
}


.sekitar-sub {
    color: #e1b12c;
}

.sekitar-item {
    margin-bottom: 20px;
}

.sekitar-item i {
    font-size: 100%;
    color: #273c75;
    margin-bottom: 5px;
    margin-right: 1px;
}


.sekitar-item-small {
    font-size: 80%;
    color: #867979;
}



.sekitar-item-small i {
    font-size: 80%;
    color: #625c5c;
}

.map {
    width: 100%;
    height: 300px;
    padding: 0;
    margin: 0;
}

/*SECTION HARGA*/

.section-harga {
    background: #d6e2ee;
    font-size: 100%;
}

.section-harga h4 {
    color: #f5f5f5;
}

.harga-item {
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 2px 2px #2f5374;
}

.harga-item div {
    padding: 15px;
    border-bottom: solid 1px #2f5374;
}

.harga-item div:first-child {
    background-color: #487eb0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #f5f5f5;
}

.harga-item div:last-child {
    border-bottom: none;
    font-size: 90%;
    background-color: #e2ebf3;
}


.asterisk {
    vertical-align: super;
    color: #fbc531;
    font-size: 60%;
    margin: 0 2px;
}

.asterisk-two {
    vertical-align: super;
    color: #fbc531;
    font-size: 60%;
    color: #cf6d17;
}

.harga-number {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 200%;
    color: #fbc531;
    margin-bottom: 10px;
}

.price {
    font-family: 'Lato';
    font-weight: 200;
    font-size: 120%;
    color: #cf6d17;
}

.harga-item i {
    font-size: 100%;
    color: #e1b12c;
}

.harga-item ul {
    list-style: none;
    margin-left: 1.5em;
}


/*----------CITRO HOMESTAY SBY-----------*/

.section-main-sby {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/citrohomestay-cover.jpg);
    background-size: cover;
}




/*----Contact(Footer)------*/

footer {
    background-image: linear-gradient(rgba(39, 60, 117, 0.9), rgba(39, 60, 117, 0.63)), url(img/annie-spratt-362691-unsplash.jpg);
    color: #f4f4f4;
    padding: 5px 0;
    font-size: 90%;
    background-size: cover;
}

.footer-title {
    color: #e1b12c;
    text-transform: uppercase;

}

footer .sub-title {
    text-align: center;
    width: 100%;
    color: #f4f4f4;
}

.contact-item {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 10px;
    line-height: 150%;
}

.contact-item .fa-ul {
    margin-left: 2em;
}

.contact-item h3 {
    margin-left: 0.3em;
    color: #e1b12c;
}

.contact-item i {
    font-size: 120%;
    color: #e1b12c;
}

.copyright {
    font-size: 70%;
    text-align: center;

}
